---
import Layout from "../layouts/Base.astro";
import SideNav from "../components/SideNav.vue";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Stack from "../components/Stack.vue"
import Contact from "../components/Contact.vue"
---
<Layout title="Aimrane Draou | Full-Stack Developer">
  <SideNav client:load />

  <main class="max-w-6xl mx-auto px-6 py-20 lg:ml-32">
    <Hero />
	<Projects />
	<Stack client:load/>
	<Contact />
  </main>
</Layout>